<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Acme Product by Tim Cop.</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/style.css" rel="stylesheet">

  </head>

  <body>
    <h1 class='well'>Acme Product Corporation</h1>
    <div class='firstBoard'>
    <p class='lead'>Welcome to Acme Product!<br>Our Top Selling Product is <a href='/products/{{topProduct}}'>{{topProduct}}</a></p>
    <p><a href='/products'>Check all our products</a></p>
    </div>
  </body>

</html>
