<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Acme Product by Tim Cop.</title>

    <!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>

    <!-- Custom styles for this template -->
    <link href="/stylesheets/style.css" rel="stylesheet">


  </head>

  <body>
    <button id='home' class="btn btn-default"><a href='/'><i class="fa fa-home"></i></a></button>
    <h1 class='well'>Adding Products</h1>

    <form method="POST" action="/products">
      <div class="form-group">
        <input name="name" placeholder="name" class="form-control">
      </div>
      <div class="form-group">
        <input name="price" placeholder="price (number only)" class="form-control">
      </div>
      <div class="form-group">
        <input name="rating" placeholder="rating (number only)" class="form-control">
      </div>
      <div id='saveButton' class="form-group">
        <button class="btn btn-success">Save</button>
      </div>
    </form>


    <div id='pdList'>
      <h1 class='well'>Current Products</h1>
      <ul class=list-group>

        {% for product in list %}

        <li class='list-group-item'>
          <a href='/products/{{product.name}}'>{{product.name}}</a>
          <span class='badge'>Score: {{product.rating}}</span>
        </li>

        {% endfor %}

      </ul>

    <div>
  </body>

</html>
